AniVerseX-XML-JSP-SpringBoot-Assignments/assignment-2/02-xml-dtd/anime.dtd

<!ELEMENT animeCollection (anime+)>

<!ELEMENT anime (animeId, title, genre, episodes, rating, shortReview, recommendationType)>

<!ELEMENT animeId (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT episodes (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT shortReview (#PCDATA)>
<!ELEMENT recommendationType (#PCDATA)>
